<html>
	<head> 
		<meta charset="UTF-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="{{ asset ('css/bootstrap.min.css')}}"/> 
	</head>
<body> 
		<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		</div>
				<form method="POST" action="" align="center">
					<div class="form-row">
				<table align="center">
			<tr>
				<td>
					<div class="form-group col-md-12">
						<label for="inputCity">Login</label>
						<input type="text" class="form-control" name="login" placeholder="Saisir votre login">
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="form-group col-md-12">
						<label for="inputZip">Mot de passe</label>
						<input type="password" class="form-control" name="motpass" placeholder="Saisir votre mot de passe">
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="form-group col-md-12">
						<input type="submit" class="form-control" name="connecter" value="connecter">
					</div>
				</td>
			</tr>
			</table>
			<a href="{{ path ('projet_general_homepage') }}"> Retour </a>
			</div>
			</form>
	<!-- fin form connexion-->
	    <!-- Footer -->
<<footer class="page-footer font-small blue special-color-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                  <p> <b>Nos partenaires</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://www.agir.com"> Agir.com</a>
        </div>
    </footer>
  <!-- Footer -->
</div> <!-- container-->
</body>
</html>
